body{
    background-image: linear-gradient(to bottom, rgb(219, 153, 219), rgb(91, 16, 94));
}

.container{
    width: 100%;
    height: 800px;
    margin: auto;
}

#menu{
    width: 100%;
    height: 150px;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding: 4px;
}

#menu ul li a{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(93, 20, 95);
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: rgb(93, 20, 95);
    color:rgb(253, 192, 255);
    padding: 4px;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(93, 20, 95);
}

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 20, 95);
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

/*login*/

p{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

#login{
    width: auto;
    height: auto;
    background-color: rgb(253, 192, 255);
    color: rgb(93, 20, 95);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 47%;
}

#usuario{
    height: auto;
    width: auto;
}

#conteudo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(93, 20, 95);
}